* {
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
header {
    background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
 
main {
    
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;;
}

h1{
font-size: 40px;
padding-top: 50px;
padding-bottom: 0;
}

p {
display: block;
padding: 1em 0;
max-width: 1000px;
}
button {
    color: white;
    border-radius: 0%;
    background-color: rgb(39, 38, 38);
    border: 0.25px solid white;
    padding: 20px 40px 20px;
    font-size: 1rem;
}

h2 {
    text-align: center;
}

/*h2+p {
    column-count: 2;
    text-align: center;
    margin: auto;
}*/
.card {
    max-width: 300px;
    width: 100%;
    min-height: 250px;
    margin: 50px auto;
    overflow: hidden;
    padding-bottom: 20px;
    color: white;
    display: block;
  }

/*ul {
display: flex;
justify-content: space-around;
list-style: none;
padding-left: 230px;
padding-right: 230px;
  }*/

  ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    background-color: rgb(71, 71, 71);
    flex-direction: row;
  }
  #section-a .content-text {
    column-count: 2
  }
  #section-a p {
    padding-top: 0;
  }

#section-a {
display: grid;
background-color:  rgb(183, 181, 181);
height: 300px;
}

#section-b {
justify-content: space-around;
display: flex;
height: auto;
padding: 2em 1em 1em;
flex-direction: row;
}
.card-content {
    padding: 1.5em;
    }
/*li {
    width: 300px;
    margin-top: -480px;
    height: 400px;
    background-color: white;
    text-align: center;

}*/

li {
    display: flex;
    text-align: match-parent;
}
img {
    width: 300px;
}

#section-c {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 20px 10px 20px;
}

#section-d {
    display: flex;
    background: #101417;
    flex-direction: row;
 }

 #section-d .box {
        padding: 2em;
        color: #fff
}
#section-d .box:first-child {
    background: #2690d4;
}

